absl-py==2.4.0
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
alembic==1.18.4
altair==6.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio @ file:///C:/Users/task_177313442989302/croot/anyio_1773134518743/work
appdirs==1.4.4
argon2-cffi @ file:///C:/Users/task_176606720590109/croot/argon2-cffi_1766067889388/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925008107/work
asttokens @ file:///C:/Users/task_177313476361522/croot/asttokens_1773135662149/work
astunparse==1.6.3
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121585997/work
attrs @ file:///C:/Users/task_177495967569670/croot/attrs_1774959745640/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159347589/work
backoff==2.2.1
beautifulsoup4 @ file:///C:/Users/task_177029098385702/croot/beautifulsoup4-split_1770291847389/work
bleach @ file:///C:/Users/task_177754500691588/croot/bleach_1777545106777/work
blinker==1.9.0
boto3==1.43.21
botocore==1.43.21
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961399696/work
cachetools==5.5.2
certifi==2026.5.20
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792995/work
charset-normalizer==3.4.7
click==8.4.1
cloudpickle==3.1.2
colorama==0.4.6
comm @ file:///C:/miniconda3/conda-bld/comm_1763119289758/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643943275/work
cryptography==48.0.0
cycler @ file:///C:/Users/task_176606794786808/croot/cycler_1766068049869/work
dacite==1.6.0
dagshub==0.7.0
dagshub-annotation-converter==0.2.0
darts==0.45.0
databricks-sdk==0.113.0
dataclasses-json==0.6.7
datasets==4.8.5
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421659047/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341251593/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.4.1
docker==7.1.0
et_xmlfile==2.0.0
executing @ file:///C:/miniconda3/conda-bld/executing_1757061247746/work
fastapi==0.136.3
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718733511/work
filelock==3.29.0
Flask==3.1.3
flatbuffers==25.12.19
fonttools @ file:///C:/Users/task_177425652563165/croot/fonttools_1774256649493/work
frozenlist==1.8.0
fsspec==2026.2.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.50
google-auth==2.53.0
google-pasta==0.2.0
gql==4.0.0
graphene==3.4.3
graphql-core==3.2.8
graphql-relay==3.2.0
greenlet==3.5.1
grpcio==1.80.0
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280755/work
h5py==3.14.0
hf-xet==1.5.0
holidays==0.100
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools==0.8.0
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447370855/work
huggingface_hub==1.17.0
idna==3.17
importlib_metadata==8.9.0
ipykernel @ file:///C:/Users/task_177261243013555/croot/ipykernel_1772612530534/work
ipython @ file:///C:/Users/task_177399611948205/croot/ipython_1773996188953/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi @ file:///C:/Users/task_177868147690414/croot/jedi_1778681783174/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jmespath==1.1.0
joblib @ file:///C:/Users/task_176786740206630/croot/joblib_1767868144069/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718583099/work
jsonschema @ file:///C:/Users/task_176795547660335/croot/jsonschema_1767955582100/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788642063/work
jupyter-events @ file:///C:/Users/task_177806693165370/croot/jupyter_events_1778067291474/work
jupyter-lsp @ file:///C:/Users/task_176977265323498/croot/jupyter-lsp_1769772761338/work
jupyter_client @ file:///C:/Users/task_176839881855479/croot/jupyter_client_1768399067345/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588340612/work
jupyter_server @ file:///C:/Users/task_177920384355061/croot/jupyter_server_1779204010596/work
jupyter_server_terminals @ file:///C:/Users/task_177028942035208/croot/jupyter_server_terminals_1770289557502/work
jupyterlab @ file:///C:/Users/task_177825300974871/croot/jupyterlab_1778253077659/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962943097182/croot/jupyterlab_server_1769629894745/work
jupyterlab_widgets==3.0.16
kagglehub==0.3.5
kagglesdk==0.1.15
keras==3.14.1
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159385651/work
libclang==18.1.1
lightning-utilities==0.15.3
llvmlite==0.48.0
lxml==6.1.1
Mako==1.3.12
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
marshmallow==3.26.2
matplotlib==3.10.9
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779270163/work
mdurl==0.1.2
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
mkl-service==2.5.2
mkl_fft @ file:///C:/Users/task_177730051549119/croot/mkl_fft_1777300588604/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593166070/work
ml_dtypes==0.5.4
mlflow==2.19.0
mlflow-skinny==2.19.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.21.2
nbclient @ file:///C:/Users/task_177157717297270/croot/nbclient_1771577292045/work
nbconvert @ file:///C:/Users/task_177212129959087/croot/nbconvert-meta_1772121362858/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.6.1
nfoursid==1.0.2
notebook @ file:///C:/Users/task_177513875845118/croot/notebook_1775139396320/work
notebook_shim @ file:///C:/Users/task_176962941563126/croot/notebook-shim_1769629909840/work
numba==0.66.0
numpy @ file:///C:/Users/task_177618877938383/croot/numpy_and_numpy_base_1776188883138/work/dist/numpy-2.4.4-cp312-cp312-win_amd64.whl#sha256=3124aa6b6e4c3dcd6a9ddd8a791cf09fd1e33f9efab43df4621e688d1d45aedb
opencv-python==4.13.0.92
openpyxl==3.1.5
opentelemetry-api==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
opt_einsum==3.4.0
optree==0.19.1
packaging==24.2
pandas==2.3.3
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977625907/work
parso @ file:///C:/Users/task_177867414302146/croot/parso_1778674212709/work
pathvalidate==3.3.1
patsy==1.0.2
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs @ file:///C:/Users/task_177365233474322/croot/platformdirs_1773652997844/work
plotly==6.7.0
prometheus_client @ file:///C:/Users/task_177273343012619/croot/prometheus_client_1772733495064/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745042157/work
propcache==0.5.2
protobuf==5.29.6
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896535983/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067062212/work
pyarrow==18.1.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser @ file:///C:/Users/task_177495970455161/croot/pycparser_1774959805958/work
pydantic==2.13.4
pydantic_core==2.46.4
pydeck==0.9.3
Pygments @ file:///C:/Users/task_177512674175235/croot/pygments_1775127041713/work
pyod==3.6.1
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973902692/work
PyQt6==6.11.0
PyQt6_sip @ file:///C:/Users/task_177582782266605/croot/pyqt-split_1775828388460/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030940/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590275574/work
python-multipart==0.0.32
pytorch-lightning==2.6.5
pytz==2026.2
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywinpty @ file:///C:/Users/task_177521347091837/croot/pywinpty_1775213565643/work/pywinpty-src
PyYAML==6.0.3
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609374/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906757/work
regex==2026.5.9
requests==2.34.2
requests-toolbelt==1.0.0
rfc3339-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1699543924991/work
rfc3986-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1699543955651/work
rich==15.0.0
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366604816/work
s3transfer==0.18.0
safetensors==0.7.0
scikit-learn @ file:///C:/Users/task_177928982892197/croot/scikit-learn_1779289891299/work
scipy @ file:///C:/Users/task_177627766931161/croot/scipy_1776277767415/work/dist/scipy-1.17.1-cp312-cp312-win_amd64.whl#sha256=58ea7ef6ff08537289fffe0a15e40f3d7a42d15b715cf9c9310cc18d53a00d6b
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
semver==3.0.4
Send2Trash @ file:///C:/Users/task_176817069615920/croot/send2trash_1768170818653/work
setuptools==82.0.1
shap==0.52.0
shellingham==1.5.4
sip @ file:///C:/Users/task_177080667796782/croot/sip_1770807601673/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
slicer==0.0.8
smmap==5.0.3
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1699496611169/work
SQLAlchemy==2.0.50
sqlparse==0.5.5
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067057854/work
starlette==1.2.1
statsmodels==0.14.6
streamlit==1.60.0
sympy==1.14.0
tenacity==9.1.4
tensorflow==2.21.0
termcolor==3.3.0
terminado @ file:///C:/Users/task_176959141859340/croot/terminado_1769591760492/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361791480/work
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949123118/work
tokenizers==0.22.2
toml==0.10.2
torch==2.13.0
torchaudio==2.11.0
torchmetrics==1.9.0
torchvision==0.28.0
tornado @ file:///C:/Users/task_177430355912797/croot/tornado_1774303663718/work
tqdm==4.67.3
traitlets @ file:///C:/Users/task_177874328087517/croot/traitlets_1778743402902/work
transformers==5.9.0
treelib==1.8.0
typer==0.25.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_177806041933677/croot/python-tzdata_1778060738968/work
urllib3==2.7.0
uvicorn==0.49.0
waitress==3.0.2
watchdog==6.0.0
wcwidth @ file:///C:/Users/task_176777900306880/croot/wcwidth_1767779219428/work
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1699497069416/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets==16.1.1
Werkzeug==3.1.8
wheel==0.46.3
widgetsnbextension==4.0.15
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278813/work
wrapt==2.2.1
xarray==2026.7.0
xxhash==3.7.0
yarl==1.24.2
yellowbrick==1.5
zipp==4.1.0
